<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <table>
        <tr>
            <td>Вы залогинены как</td>
            <td>
                <a href="#" th:href="@{/user}" th:text="${logout.getUsername()}"/>
            </td>
            <td>
                <input type="submit" value="Выйти"/>
            </td>
        </tr>
    </table>
</form>
<h2>Введите данные нового пользователя: </h2>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Введите логин:</label>
    <input type="text" th:field="*{username}" id="name"/>
    <br><br>
    <label for="surname">Введите пароль:</label>
    <input type="text" th:field="*{password}" id="surname"/>
    <br><br>
    <label for="age">Введите email:</label>
    <input type="text" th:field="*{email}" id="age"/>
    <p>
        <label>Роли
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.getNoPrefix()}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <br><br>
    <input type="submit" value="Создать"/>
</form>
<br>
<form th:method="GET" th:action="@{/admin}">
    <input type="submit" value="Отмена"/>
</form>
</body>
</html>