<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>

<h1>Добро пожаловать! Вы зашли под пользователем:</h1>
<table>
    <tr>
        <td th:text="'Логин = ' + ${user.getLogin()}">login</td>
    </tr>
    <tr>
        <td th:text="'Email = ' + ${user.getEmail()}">email</td>
    </tr>
    <tr>
        <td>
            <p>Роли = </p>
        </td>
        <td th:each="role : ${user.getRoles()}">
            <p th:text="${role.getNoPrefix()} + ', '"></p>
        </td>
    </tr>
</table>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>


</body>
</html>